 
// colors
$backgrund : rgb(79, 98, 204) ;
$text-span : rgb(0, 132, 255);
$button : #3a44ff ;
$white : white ;
$backgrund2 :rgb(70, 11, 147);
$button2 : rgb(124, 53, 255);
$text-span2: rgb(174, 18, 213);
// end
// respansev 
$phon : "(min-width:375px) and (max-width:512px)" ;
// end 